<div class="register">
  <form [formGroup]="registerForm" class="login-form">
    <h2>Register</h2>
    <div class="txt-box">
      <input placeholder="Name" formControlName="firstName" type="text">
    </div>
    <div class="txt-box">
      <input placeholder="Surname" formControlName="lastName" type="text">
    </div>
    <div class="txt-box">
      <input placeholder="Email" formControlName="email" type="email">
    </div>
    <div class="txt-box">
      <input placeholder="Password" formControlName="password" type="password">
    </div>
    <input (click)="register()" type="submit" class="register-button" value="Register">
  </form>
</div>
