<li *ngIf="cartItems.length>0" class="nav-item dropdown">
  <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="navbarDropdown" role="button">
    Your Cart
  </a>
  <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
    <li *ngFor="let cartItem of cartItems"><a
      class="dropdown-item">
      <span class="badge bg-secondary">{{cartItem.quantity}}</span>{{cartItem.product.productName}}<span
      (click)="removeFromCart(cartItem.product)" class="badge bg-secondary">X</span></a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item">Go to cart</a></li>
  </ul>
</li>
